@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

/* Body CSS */
 body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
 }

 /* Header CSS */
header {
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05),rgba(0,0,0,0.05 )) , url(header_image_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* NAV CSS */
nav ul{
    margin-top: 0;
    text-align: center;
    height: 5rem;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0.8em 2em;
    font-size: large;
    font-weight: 900;
    padding: 0.3rem;

}

nav li:hover{
    border-bottom: 3px solid rgb(26,55,34);
}

nav a{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav a:hover{
    text-decoration: none;
    color:  rgb(66, 150, 99);
}

#chibby{
    width: 25rem;
    border-radius: 2rem;
}

.fa-address-card, .fa-house{
    font-size: 1.8rem;
    margin-right: 0.15em;
}
.fa-envelope{
    font-size: 1.9rem;
    margin-right: 0.15em;
}

/* Header div CSS */
header div{
    text-align: center;
    margin-top: 18rem;
}

div.travel{
    font-size: 1.6rem;
    margin: 1em auto 0.2em auto;
    background-color: rgb(39, 135, 88);
    width: 50rem;
    border-radius: 5rem;
    color: rgb(255, 255, 255);
    border: 0.3rem solid rgba(128,248,174,1);
}

div.travel h1{
    padding-top: 0.3rem;
    margin: 0;
}

div.travel p{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.btn_1{
    background-color: rgb(39, 135, 88);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: medium;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    width: 20rem;
    height: 4.5rem;
}

.btn_1:hover{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(128,248,174,1) 0%, rgba(223,244,148,1) 90% );
    color: rgb(0, 0, 0);
    font-size: large;
}

header div img{
    width: 30px;
}


/* Content CSS */

#content{
    padding: 8rem 20rem;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(128,248,174,1) 0%, rgba(223,244,148,1) 90% );
}

.place_1,.place_2, .place_3{

    border-radius: 2.5rem;
    height: 30rem;
}

.place_1, .place_2{
    margin-bottom: 5rem;
}

.place_1, .place_2, .place_3{
    box-shadow: 0.5rem 0.5rem 2rem 0.2rem rgba(39, 135, 89, 0.813);
}

.place_1::after, .place_2::after, .place_3::after{
    content: '';
    display: block;
    clear: both;
}

.place_1 #maldives, .place_2 #keral, .place_3 #shimla{
    float: left;
    width: 50%;
    height: 100%;
}

.place_1 #maldiv, .place_2 #kerala, .place_3 #shiml{
    float: right;
    width: 50%;
    height: 100%;
}

#maldives, #kerala, #shimla{
    border-radius: 1.8rem;
}

#maldiv, #keral, #shiml{
    background-image: linear-gradient( 180.5deg,  rgba(46,255,171,1) 12.3%, rgba(252,251,222,0.46) 92% );
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 3rem 3rem;
    text-align: center;
}

#maldiv p, #keral p, #shiml p{
    margin-top: 0.8rem;
}

#maldiv h2, #keral h2, #shiml h2{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;;
}


.btn_2{
    margin-top: 1.2rem;
    background-color: rgb(39, 135, 88);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 1rem;
    width: 25rem;
    height: 4rem;
}

.btn_2:hover{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
    font-size: x-large;
    color: rgb(255, 255, 255);
}

/* Adventure CSS */

#adv{
    font-size: 1.6rem;
    text-align: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    padding: 5rem 15rem;
}

#adv h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
    margin-bottom: 0.5rem;
}

.adventure{
    border: 0.6rem solid rgb(146, 228, 167);
    border-radius: 2.5rem;
    height: 20rem;
}
.adventure::after{
    content: '';
    display: block;
    clear: both;
}

.activities{
    color: rgb(181, 251, 198);
    margin-top: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    height: 3rem;
}

#adv_1, #adv_2, #adv_3, #adv_4{
    text-align: center;
    float: left;
    width: 25%;
    height: 100%;

}

#adv div div{
    box-shadow: 0.5rem 0.5rem 2rem 0.3rem rgba(146, 228, 166, 0.795);
}

.adventure img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

#guide{
    margin-top: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.fa-circle-info{
    margin-right: 0.3rem;
}


/* Footer CSS */

#footer{
    background-color: #32CCBC;
    height: 15rem;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
}

.fa-brands{
    font-size: 4rem;
    margin: 1rem 1.5rem;
}

.instagram{
    color: #C13584;
}
.facebook{
    color: #4267B2;
}
.twitter{
    color: #00acee;
}
.youtube{
    color: #FF0000;
}