@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* ################################ Body CSS ################################ */
body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
 }



 /*################################ NAV CSS ################################ */

header{
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    height: 95vh;
}

#nav{
    padding-top: 1.5rem;
}
#chibby{
    width: 20rem;
    height: 5rem;
    border-radius: 2rem;
    float: left;
    margin-left: 3rem;
}

nav ul{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    height: 5rem;
    float: right;
    /* margin-right: 1.6rem; */
}

#nav::after{
    content: '';
    display: block;
    clear: both;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0.8em 2em;
    font-size: large;
    font-weight: 700;
    padding: 0.3rem;
}

/* nav li:hover{
    border-bottom: 0.15rem solid rgb(255, 255, 255);
} */

nav a{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav a:hover{
    text-decoration: none;
    color:  rgb(255, 255, 255);
    
}

.fa-address-card, .fa-house{
    font-size: 1.8rem;
    margin-right: 0.15em;
}
.fa-envelope{
    font-size: 1.9rem;
    margin-right: 0.15em;
}

/*################################ Header --> About CSS ################################ */
 #about{
    font-size: 1.6rem;
    margin: 5rem 25rem;
 }

 #about h2{
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 0.3rem;
    margin-bottom: 1.5rem;
    border-bottom: 0.6rem solid rgb(0, 0, 0);
 }

#about p{
    font-weight: 500;
 }

 .fa-face-smile{
    font-size: 2rem;
}

#about_contact{
    border: 0.3rem solid black;
    padding: 1.5rem 7.5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.553);

    /* height: 5rem; */
}

#about_contact::after{
    content: '';
    display: block;
    clear: both;
}

#about_contact p{
    float: left;
    margin-top: 0.8rem;
    font-size: large;
    font-weight: bold;
}

#about_contact a{
    float: right;
}

#about_button{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 1.2rem;
    font-size: 1.6rem;
    padding: 1rem;
    width: 25rem;
    height: 3.6rem;
    font-size: large;
}

#about_button:hover{
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% ); */
    color: rgb(0, 0, 0);
    background-color: white;
    font-weight: bolder;
    font-size: 2rem;
}

 
.hand_icon{
    font-size: 2.5rem;
    margin-top: 0.6rem;
}


/* ################################  Footer CSS ################################  */

#footer{
    /* background-color: #32cc9bca; */
    background: #dce35b; 
    background: -webkit-linear-gradient(to top, #dce35b, #45b649);
    background: linear-gradient(to top, #dce35bbe, #45b649e0);
    height: 15rem;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
}

.fa-brands{
    font-size: 4rem;
    margin: 0.25em 0.375em;
}

.instagram{
    color: #C13584;
}
.facebook{
    color: #4267B2;
}
.twitter{
    color: #00acee;
}
.youtube{
    color: #FF0000;
}


/* ################################  Responsiveness CSS (Media Queries) ################################  */
@media (max-width:500px){
    html{
        font-size: 8px;
    }
    
    /* ################################ NAV CSS ################################ */
    #chibby, nav ul{
        float: none;
        display: block;
        margin: auto;
    }

    nav ul li{
        list-style: none;
        display: inline-block;
        margin: 0.8em 0.8em;
        font-size: medium;
        font-weight: 700;
    }

    /*################################ Header --> About CSS ################################ */
    #about{
        font-size: 1.6rem;
        margin: 5rem 3rem;
        /* text-align: center; */
    }

    #about_contact{
        padding: 0.5rem 2rem;
        text-align: center;
    }

    #about_contact p, #about_contact a{
        float: none;
        display: block;
    }
    
    #about_contact a{
        margin: 0.5em 0;
        padding: 0 0;
    }

    .hand_icon{
        display: none;
    }

    /* ################################  Footer CSS ################################  */
    #footer{
        height: auto;
        padding-top: 1rem;
        font-size: 1.6rem;
    }
    #copyright{
        padding-bottom: 1em;
    }
}

@media (min-width:500px) and (max-width:768px){
    html{
        font-size: 9px;
    }
    
    /* ################################ NAV CSS ################################ */
    #chibby, nav ul{
        /* float: none; */
        display: block;
        margin: auto;
    }

    nav ul li{
        list-style: none;
        display: inline-block;
        margin: 0.8em 0.3em;
        font-size: medium;
        font-weight: 700;
    }

    /*################################ Header --> About CSS ################################ */
    #about{
        font-size: 1.6rem;
        margin: 5rem 3rem;
        /* text-align: center; */
    }

    #about_contact{
        padding: 0.5rem 2rem;
        text-align: center;
    }

    #about_contact p, #about_contact a{
        float: none;
        display: block;
    }
    
    #about_contact a{
        margin: 0.5em 0;
        padding: 0 0;
    }

    .hand_icon{
        display: none;
    }

    /* ################################  Footer CSS ################################  */
    #footer{
        height: auto;
        padding-top: 1rem;
        font-size: 1.6rem;
    }
    #copyright{
        padding-bottom: 1em;
    }
}

@media (min-width:768px) and (max-width:1200px){
    html{
        font-size: 10px;
    }
    
    /* ################################ NAV CSS ################################ */
    #chibby, nav ul{
        /* float: none; */
        display: block;
        margin: auto;
    }

    nav ul li{
        list-style: none;
        display: inline-block;
        margin: 0.8em 0.3em;
        font-size: medium;
        font-weight: 700;
    }

    /*################################ Header --> About CSS ################################ */
    #about{
        font-size: 1.6rem;
        margin: 5rem 3rem;
        /* text-align: center; */
    }

    #about_contact{
        padding: 0.5rem 2rem;
        text-align: center;
    }

    #about_contact p, #about_contact a{
        float: none;
        display: block;
    }
    
    #about_contact a{
        margin: 0.5em 0;
        padding: 0 0;
    }

    .hand_icon{
        display: none;
    }

    /* ################################  Footer CSS ################################  */
    #footer{
        height: auto;
        padding-top: 1rem;
        font-size: 1.6rem;
    }
    #copyright{
        padding-bottom: 1em;
    }
}


@media(orientation = landscape) and (max-height: 500px){
    #header{
        height: 90vmax;
    }
}